.modeloContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    text-align: center;
    padding: 1rem;
}

.modeloContainer img,
.modeloContainer h3,
.modeloContainer span{
    pointer-events: none;
}

.modeloContainer h3{
    font-size: 1.75em;
}

.modeloContainer span{
    padding: 1rem 0;
    font-size: 1.2em;
    width: 200px;
}

.modeloContainer img{
    width: 100%;
    height: 100%;
    max-width: 50%;
}

.modeloContainer a{
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.25em;
}

.modeloContainer a svg{
    font-size: 2.5rem;
    margin: 0 0.5rem;
}