.megaContentProjects{
    border-radius: 20px;
    filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.4));
    width: 100%;
    max-width: 90%;
    margin: 3em auto;
    padding:3em 4em;
    background:linear-gradient(45deg,#00ffff,#fff);
}

.tituloProjetosContent h1{
    font-size: 4em;
}
.tituloProjetosContent h2{
    margin-top: 0.3em;
    color: #052c2c;
}

.descricaoProjetosContent{
    padding: 1em 4em 3em 4em;
    margin: auto;
}