.hardSkillsContainer{
    overflow: hidden; 
}

.hardSkillsContent{
    display: flex;
}

.hardSkillsProjects{
    cursor: grab;
    list-style: none;
    min-width: 400px;
    padding: 15px;
}

.hardSkillsProjects span{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 3em;
    text-transform: capitalize;
    width: 100%;
    list-style-type: none;
    border-radius: 12px;
}

.hardSkillsProjects span svg{
    margin: 0 1rem;
}

.segureArrasteTexto{
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5em;
    color:#052c2c ;
}

@media screen and (max-width:768px){
    .hardSkillsProjects{
        min-width: 250px;
        font-size: 0.75em;
    }

    .hardSkillsProjects span{
        font-size: 2em;
        justify-content: center;
        border-right: 1px solid #052c2c;
        border-left: 1px solid #052c2c;
        border-radius: 0;
        padding: 1rem 0;
    }
}
