.infoContent{
    width: 100%;
    padding: 5em 4em;
    background: linear-gradient(45deg,#000,#052c2c);
}

.infoContent h3{
    max-width: max-content;
    border: 1px solid #fff;
    color: #fff;
    background:linear-gradient(60deg,rgba(0,255,255,0.5),rgba(255,255,255,0.5)) ;
    color: #fff;
    padding: 7px;
}

.joaoContent{
    margin: 3em 1em;
}

.joaoContent h1{
    color: #fff;
    font-size: 3em;
    font-weight: bold;
}

.joaoContent h1 span{
    color: #00ffff;
    filter: drop-shadow(5px 5px 7px rgba(0,255,255,0.5));
}

.joaoContent p{
    width: 100%;
    max-width: 80%;
    margin-top: 0.3em;
    color: #ccc;
    font-size: 1.5em;
}

.skillContent{
    margin: 5em auto;
    width: 100%;
    max-width: 80%;
    padding: 10px;
    border-radius: 20px;
    background:linear-gradient(60deg,#fff,#00ffff);
    filter: drop-shadow(3px 3px 7px rgba(255,255,255,0.4));
}

.skillContent h2{
    font-size: 2.5em;
    text-align: center;
    font-weight: bolder;
}

.skillContent p{
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    max-width: 90%;
    margin:1em auto;
}

.techContent ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.techContent ul li{
    margin: 1em 2em;
    transition: 0.3s;
}

.techContent ul li svg{
    width: 50px;
    height: 50px;
    filter: drop-shadow(3px 3px 5px rgb(0,0,0,0.4));
}

.techContent ul li:hover{
    transform: translateY(-5px);
}

.techContent ul li:nth-child(1):hover{
    color: #ffa500;
}

.techContent ul li:nth-child(2):hover{
    color: #4578d8;
}

.techContent ul li:nth-child(3):hover{
    color: #ffff00;
}

.techContent ul li:nth-child(4):hover{
    color: #00ffff;
}

.techContent ul li:nth-child(5):hover{
    color: #9acd32;
}

.techContent ul li:nth-child(6):hover{
    color:#0000ff ;
}

.techContent ul li:nth-child(7):hover{
    color: #0b40a1;
}

.techContent ul li:nth-child(1),
.techContent ul li:nth-child(2),
.techContent ul li:nth-child(3){
    border-bottom: 5px solid #008000;
}

.techContent ul li:nth-child(4){
    border-bottom: 5px solid #d8d803;
}

.techContent ul li:nth-child(5),
.techContent ul li:nth-child(6),
.techContent ul li:nth-child(7){
    border-bottom: 5px solid #dc143c;
}

.skillContent span{
    font-weight: bold;
}

.skillContent .verde,
.levelContent .verde{
    color: #008000;
}

.skillContent .amarelo,
.levelContent .amarelo{
    color: #d8d803;
}

.skillContent .vermelho,
.levelContent .vermelho{
    color: #dc143c;
}

.levelContent{
    width: 100%;
    margin: 1em 2em;
    display: flex;
    flex-direction: column;
}

.levelContent h4{
    margin-bottom: 0.5em;
    font-size: 1.7em;
}

.levelContent ul{
    list-style: none;
}

.levelContent ul li{
    font-size: 1.2em;
    margin: 0.3em 0;
}