.sobreMimContent{
    border-radius: 20px;
    filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.4));
    width: 100%;
    max-width: 85%;
    margin: 3em auto;
    padding:3em 4em;
    background:linear-gradient(45deg,#01d3d3,#fff);
}

.sobreMimfilterContent{
    margin: 1rem 0;
}

.sobreMimContent h1{
    font-size: 4em;
    font-weight: bolder;
}

.textoContent{
    width: 100%;
    max-width: 90%;
}

.textoContent p{
    padding: 1em 0;
    font-size: 1.5em;
}

strong{
    filter: drop-shadow(3px 3px 7px rgba(0,0,0,0.9));
}

@media screen and (max-width:1000px){
    .sobreMimContent h1{
        text-align: center;
        font-size: 3em;
    }

    .textoContent{
        margin: 1em 0;
        text-align: center;
    }
}
